* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'serif';
  background-image: url(../images/pasta.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

#content {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

/* italianno-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/italianno-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/italianno-v16-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cookie-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cookie-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/cookie-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}